@font-face {
  font-family: 'DIN-1451';
  src: url('../fonts/din1451alt.ttf') format('truetype');
}

.button-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn {
  font-family: 'DIN-1451';
}

.btn-primary {
  background-color: #79507e !important;
  border-color: #603d64 !important;
  border-width: 0.02em !important;
  padding: 0.7em !important;
  font-size: 1.2em !important;
}

.draggable-block {
  max-width: 90vw;
  /* max-height: 50vh; */
  width: fit-content;
  height: fit-content;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #e3cee1;
  cursor: move;
}