/* agent.css */
#agent {
  position: fixed; /* Keeps the agent in a fixed position */
  left: 0;
  right: 0;
  bottom: 0; /* This will make the agent take up the entire viewport */
  max-width: 88%; 
  max-height: 85%; /* Maximum height as a percentage of the viewport height */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0; /* horizontal center and bottom of the viewport */
  display: flex; /* Using flexbox for centering content */
  justify-content: center; /* Center horizontally in the flex container */
  align-items: flex-end; 
  transition: width 0.5s ease-in-out; /* Smooth transition for resizing */
}
#agentPortrait {
  width: auto; /* This will maintain the image's aspect ratio */
  height: auto;
  /* bottom: 0; */
  display: block; /* Ensures the image is a block-level element and takes the full width */
  max-height: 100vh;
  max-width: 100vw;
}
